<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
<head>
	<link href="lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="lib/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/metawidget/metawidget-core.min.js"></script>
	<script src="lib/metawidget/metawidget-bootstrap.min.js"></script>
	<script src="lib/metawidget/metawidget-angular.min.js"></script>
    <script>
        angular.module( 'app', [ 'metawidget' ] ).controller( 'demoController', function( $scope ) {

         	$scope.metawidgetConfig = {

				// Configure the metawidget inspector to hide children ids in UI, and set 'required' fields
               	inspector: new metawidget.inspector.CompositeInspector( [
                  	new metawidget.inspector.PropertyTypeInspector(),
                  	new metawidget.inspector.JsonSchemaInspector( {
                     	properties: {
                     		firstname: {
                     			required: true,
                     			type: "string"
                     		},
                     		lastname: {
                     			required: true,
                     			type: "string"
                     		},
                     		address: {
                     			required: false,
                     			type: "string",
                     		},
                        	children: {
                        		required: true,
                           		items: {
                              		properties: {
                                 		id: {
                                    		hidden: true
	                                 	},
	                                 	firstname: {
	                                 		required: true,
	                                 		type: "string"
	                                 	}, 
	                                 	age: {
	                                 		required: true
	                                 	}
	                                }
                              	}
                            }
                        }
                  	} )
            	] ),

				// Attempt to get widgetBuilder to create editable nested array values for children... (not working)
				widgetBuilder: new metawidget.widgetbuilder.CompositeWidgetBuilder( [ function( elementName, attributes, mw ) {
				 	
					if ( attributes.name === 'personChildren' ) {

						var typeAndNames = metawidget.util.splitPath( mw.path );

						if ( typeAndNames.names === undefined ) {
							typeAndNames.names = [];
						}

						typeAndNames.names.push( attributes.name );
						typeAndNames.names.push( '0' );

						var inspectionResult = mw.inspect( mw.toInspect, typeAndNames.type, typeAndNames.names );
						var inspectionResultProperties = metawidget.util.getSortedInspectionResultProperties( inspectionResult );
						var columns = '';

						for ( var i = 0, length = inspectionResultProperties.length; i < length; i++ ) {

							var columnAttribute = inspectionResultProperties[i];

							if ( metawidget.util.isTrueOrTrueString( columnAttribute.hidden ) ) {
								continue;
							}

							if ( columns !== '' ) {
								columns += ',';
							}
							columns += columnAttribute.name;
						}

						var widget = $( '<table>' ).attr( 'edit-table', '' ).attr( 'columns', columns ).attr( 'ng-model', mw.path + '.' + attributes.name );
						return widget[0];
					}
				}, new metawidget.widgetbuilder.HtmlWidgetBuilder() ] ),
				addWidgetProcessors: [ new metawidget.bootstrap.widgetprocessor.BootstrapWidgetProcessor() ],
				layout: new metawidget.bootstrap.layout.BootstrapDivLayout()

            };

            $scope.person = {
               	firstname: '',
               	lastname: '',
               	age: 0,
               	address: '',
               	children: [ {
                	id: 1,
                  	firstname: 'AshKitty',
                  	age: 14
               	}, {
                  	id: 2,
                  	firstname: 'RangerPup',
                  	age: 10
            	} ]
            };

            // Array of quotes about the area the person lives in, to be randomly applied in console
            $scope.area = [
            	'Ive heard some bad things about that area...', 
            	'Oh really? How can you afford to live there!', 
            	'Ah, thats just around the corner from where Kevin Rudd used to live!'
            ];

            // Array of quotes about a child's behaviour, to be randomly applied in console
            $scope.behaviour = [
            	'This one is an angel...', 
            	'This one is extremely naughty!', 
            	'This one is cheeky!'
            ];

            // Submit function simply logs marginally humorous things to console
            $scope.submit = function() {
        		console.log("Submitted!");
        		console.log("Thank you, "+$scope.person.firstname+" "+$scope.person.lastname+"!");
        		console.log("----------------------------------------");

        		console.log("You are only "+$scope.person.age+" years young! And you look so much younger!");
        		console.log("----------------------------------------");

        		console.log("Your address is: ");
        		console.log($scope.person.address);
        		let areaIndex = Math.floor((Math.random() * 2));
    			console.log($scope.area[areaIndex]);
        		console.log("----------------------------------------");

        		console.log("Your children are: ");
        		console.log("----------------------------------------");
        		$scope.person.children.forEach(function(child) {
    				console.log(child.id+": "+child.firstname+" who is "+child.age+" years old");
    				let behaviourIndex = Math.floor((Math.random() * 2));
    				console.log($scope.behaviour[behaviourIndex]);
				});

				console.log("----------------------------------------");
				console.log("Thanks, and enjoy your day!");
    		};	

        } );
	
    </script>
    <style>
  		h1 {
  			color: #175C73;
  		}
		.container {
			text-align: center;
			margin: 20px 400px 50px 100px;
			font-family: Verdana, Geneva, sans-serif;
		}			
		#metawidget {
			border: 1px solid #cccccc;
			width: 400px;
			border-radius: 10px;
			padding: 10px;
			margin: 50px auto;
			display: block;
		}
		#metawidget button {
			display: block;
			margin: 10px auto 0px;
		}
	</style>
</head>
<body ng-controller="demoController" >
	<div class="container">
		<h1>Nosey Questions</h1>
		<p>Hi! We are very curious about you and would love it if you could answer the following very basic questions... (just for fun)</p>
		<p>Anything you submit will be displayed back to you in only a very moderately humorous way via the javascript console of your browser</p>
		<metawidget ng-model="person" config="metawidgetConfig" ></metawidget>
		<button ng-click="submit()" type="submit" id="submit" value="Submit" />SUBMIT</button>
	</div>
</body>
<html>
